<!DOCTYPE html>
<html>
  <head>
    <title>MoneyMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'menu' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<main>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
   
    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% end %>
    
    <%= yield %>

    <div id="popup-menu">
      <ul class="menu-layout">
        <li calss= "logout"> 
        
          <%= button_to destroy_user_session_path, method: :delete, id: "home-form", class: 'btn-clean btn-nav menu-item' do %>
              <span calss= "logout"> Logout </span>
              <%= image_tag('https://img.icons8.com/external-sbts2018-flat-sbts2018/30/null/external-logout-social-media-basic-1-sbts2018-flat-sbts2018.png', class:"logout-icon") %>
          <% end %>
        </li>
        <li>
          <%= button_to edit_user_registration_path, method: :get, id: "home-form2", class: 'btn-clean btn-nav menu-item' do %>
            <span calss= "logout"> Update </span>
            <%= image_tag('https://img.icons8.com/external-xnimrodx-blue-xnimrodx/30/null/external-setting-advertising-xnimrodx-blue-xnimrodx.png', class:"logout-icon") %>
          <% end %>
        </li>

      
      </ul>
    </div>
   
  </main>
  </body>
</html>
